  <div class="Container custom_container">
    {%- if section.settings.subheading != blank or section.settings.title != blank -%}
      <header class="SectionHeader--center">
        {%- if section.settings.title != blank -%}
          <h2 class="SectionHeader__Heading Heading u-h1">{{ section.settings.title | escape }}</h2>
        {%- endif -%}
      </header>
    {%- endif -%}
  
      <div class="split_div">
        <div class="grid_item">
          {%- assign image_url = section.settings.firstImage | image_url -%}
             <img width="40" height="40" class="Image--lazyLoad" src="{{ image_url }}" alt="{{ section.settings.firstImage.alt | escape }}">
          <div class="headings">
            <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.firstSubheading | escape }}</h3>
            <div class="content">{{ section.settings.firstContent }}</div>          
          </div>            
        </div>
        <div class="grid_item">
          {%- assign image_url = section.settings.secondImage | image_url  -%}
             <img width="40" height="40" class="Image--lazyLoad" src="{{ image_url }}" alt="{{ section.settings.secondImage.alt | escape }}">
          <div class="headings">
            <h3 class="SectionHeader__SubHeading Heading u-h6">{{ section.settings.secondSubheading | escape }}</h3>
            <div class="content">{{ section.settings.secondContent }}</div>          
          </div>            
        </div>
      </div>    
  </div>
  

{%- assign has_section_separator = false -%}

{%- for block in section.blocks -%}
  {%- if block.type == 'separator' -%}
    {%- assign has_section_separator = true -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

{%- capture faq_content -%}
  <div class="Faq">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'separator' -%}
          <h1 class="Faq__Section Heading u-h1" {{ block.shopify_attributes }}>
            <span class="Anchor" id="block-{{ block.id }}"></span>
            {% comment %}{{- block.settings.title | escape -}}{% endcomment %}
          </h1>
        
        {%- when 'contact' -%}        
          {% if block.settings.contact_form %} 
            <div class="main_custom_form">
              <div class="item contact">
                  {% render 'contact-custom-form' %}                
              </div>
              <div class="item custom">                
                <h4 class="u-h4">{{ block.settings.heading }}</h4>
              <div class="under_item">
                <div class="inner_item">
                  <div class="subtitle Heading">{{ block.settings.subhead_one }}</div>
                  <div class="content">{{ block.settings.content_one }}</div>
                </div>
                <div class="inner_item">
                  <div class="subtitle Heading">{{ block.settings.subhead_two }}</div>
                  <div class="content">{{ block.settings.content_two }}</div>
                </div>
                <div class="inner_item">
                  <div class="subtitle Heading">{{ block.settings.subhead_three }}</div>
                  <div class="content">{{ block.settings.content_three }}</div>
                </div>
                <div class="inner_item">
                  <div class="subtitle Heading">{{ block.settings.subhead_four }}</div>
                  <div class="content">{{ block.settings.content_four }}</div>
                </div>
              </div>
              </div>
            </div>
          {% endif %}

          {%- when 'custom' -%}        
              <div class="main_custom_content">                
                <div class="item custom">
                  <h4 class="u-h4">{{ block.settings.heading }}</h4>
                <div class="content_under_item">
                  <div class="inner_item">
                    <div class="subtitle Heading">{{ block.settings.subhead_one }}</div>
                    <div class="content">{{ block.settings.content_one }}</div>
                  </div>
                  <div class="inner_item">
                    <div class="subtitle Heading">{{ block.settings.subhead_two }}</div>
                    <div class="content">{{ block.settings.content_two }}</div>
                  </div>
                  <div class="inner_item">
                    <div class="subtitle Heading">{{ block.settings.subhead_three }}</div>
                    <div class="content">{{ block.settings.content_three }}</div>
                  </div>
                  <div class="inner_item">
                    <div class="subtitle Heading">{{ block.settings.subhead_four }}</div>
                    <div class="content">{{ block.settings.content_four }}</div>
                  </div>
                </div>
                </div>
              </div>

        {%- when 'question' -%}
          {%- if block.settings.title != blank and block.settings.answer != blank -%}
            <div class="Faq__Item {% if section.blocks[forloop.index].type == 'separator' or forloop.last %}Faq__Item--lastOfSection{% endif %}" aria-expanded="false" {{ block.shopify_attributes }}>
              <span class="Faq__Icon">{% render 'icon' with 'plus' %}</span>
              <div class="Faq__ItemWrapper">
                <button class="Faq__Question">{{ block.settings.title | escape }}</button>

                <div class="Faq__AnswerWrapper" aria-hidden="true">
                  <div class="Faq__Answer Rte">
                    {{ block.settings.answer }}
                  </div>
                </div>
              </div>
            </div>
          {%- endif -%}
      {%- endcase -%}
    {%- endfor -%}
  </div>
{%- endcapture -%}

<section data-section-type="faq" data-section-id="{{ section.id }}" class="custom_faq_inner">
  <div class="Container">
    <div class="PageContent {% unless has_section_separator %}PageContent--narrow{% endunless %}">
      {%- if has_section_separator -%}
        <div class="PageLayout">
          <div class="PageLayout__Section PageLayout__Section--secondary PageLayout__Section--sticky hidden-phone">
            <ol class="FaqSummary">
              {%- assign faq_separator_count = 0 -%}

              {%- for block in section.blocks -%}
                {%- if block.type == 'separator' -%}
                  <li class="FaqSummary__Item {% if faq_separator_count == 0 %}is-active{% endif %}">
                    <a href="#block-{{ block.id }}" class="FaqSummary__Link" data-offset="80">
                      <span class="FaqSummary__LinkLabel">{{ block.settings.title | escape }}</span>
                    </a>
                  </li>

                  {%- assign faq_separator_count = faq_separator_count | plus: 1 -%}
                {%- endif -%}
              {%- endfor -%}
            </ol>
          </div>

          <div class="PageLayout__Section">
            {{- faq_content -}}
          </div>
        </div>
      {%- else -%}
        {{- faq_content -}}
      {%- endif -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "FAQ custom",
  "class": "custom_faq",
  "settings": [    
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your HTML"
    },
    {
      "type": "header",      
      "content": "First part image"      
    },
    {
      "type": "image_picker",
      "id": "firstImage",
      "label": "Select first image"      
    },
    {
      "type": "text",
      "id": "firstSubheading",
      "label": "Image heading"      
    },
    {
      "type": "richtext",
      "id": "firstContent",
      "label": "Content"
    },
    {
      "type": "header",      
      "content": "Second part image"      
    },
    {
      "type": "image_picker",
      "id": "secondImage",
      "label": "Select second image"      
    },
    {
      "type": "text",
      "id": "secondSubheading",
      "label": "Second Image heading"      
    },
    {
      "type": "richtext",
      "id": "secondContent",
      "label": "Content"
    }
  ],
  "blocks": [
    {
      "type": "separator",      
      "name": "Section separator",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Default"          
        }
      ]
    },
    {
      "type": "question",
      "name": "Question",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    },
     {
      "type": "contact",
      "name": "Contact form",
      "settings": [
        {
          "type": "checkbox",
          "id": "contact_form",
          "label": "Enable contact form",
          "default": false 
        },
        {
          "type": "header",
          "content": "Right side div content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Title for heading"
        },
        {
          "type": "text",
          "id": "subhead_one",
          "label": "Subheading for first block"
        },
        {
          "type": "richtext",
          "id": "content_one",
          "label": "Content for first block"
        },
        {
          "type": "text",
          "id": "subhead_two",
          "label": "Subheading for second block"
        },
        {
          "type": "richtext",
          "id": "content_two",
          "label": "Content for second block"
        },
        {
          "type": "text",
          "id": "subhead_three",
          "label": "Subheading for third block"
        },
        {
          "type": "richtext",
          "id": "content_three",
          "label": "Content for third block"
        },
        {
          "type": "text",
          "id": "subhead_four",
          "label": "Subheading for fourth block"
        },
        {
          "type": "richtext",
          "id": "content_four",
          "label": "Content for fourth block"
        }        
      ]
    },
    {
      "type": "custom",
      "name": "Custom Content",
      "settings": [        
        {
          "type": "header",
          "content": "Add custom text"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Title for heading"
        },
        {
          "type": "text",
          "id": "subhead_one",
          "label": "Subheading for first block"
        },
        {
          "type": "richtext",
          "id": "content_one",
          "label": "Content for first block"
        },
        {
          "type": "text",
          "id": "subhead_two",
          "label": "Subheading for second block"
        },
        {
          "type": "richtext",
          "id": "content_two",
          "label": "Content for second block"
        },
        {
          "type": "text",
          "id": "subhead_three",
          "label": "Subheading for third block"
        },
        {
          "type": "richtext",
          "id": "content_three",
          "label": "Content for third block"
        },
        {
          "type": "text",
          "id": "subhead_four",
          "label": "Subheading for fourth block"
        },
        {
          "type": "richtext",
          "id": "content_four",
          "label": "Content for fourth block"
        }        
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "separator",
        "settings": {
          "title": "Shipping"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Do you ship overseas?",
          "answer": "<p>Yes, we ship all over the world. Shipping costs will apply, and will be added at checkout. We run discounts and promotions all year, so stay tuned for exclusive deals.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "How long will it take to get my order?",
          "answer": "<p>It depends on where you are. Orders processed here will take 5-7 business days to arrive. Overseas deliveries can take anywhere from 7-16 days. Delivery details will be provided in your confirmation email.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "What shipping carriers do you use?",
          "answer": "<p>We use all major carriers, and local courier partners. You’ll be asked to select a delivery method during checkout.</p>"
        }
      },
      {
        "type": "separator",
        "settings": {
          "title": "Product"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Can I return my product?",
          "answer": "<p>We always aim for make sure our customers love our products, but if you do need to return an order, we’re happy to help. Just email us directly and we’ll take you through the process.</p>"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Can I get my product personalized?",
          "answer": "<p>It depends on the creator and the product. All options are outlined on the product page, so look out for customization options there.</p>"
        }
      },
      {
        "type": "separator",
        "settings": {
          "title": "Other"
        }
      },
      {
        "type": "question",
        "settings": {
          "title": "Any question?",
          "answer": "<p>You can contact us through our contact page! We will be happy to assist you.</p>"
        }
      }
    ]
  }
}
{% endschema %}